@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

body, .image-box, .quote-box, .signer, .footer {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    width: 400px;
    justify-content: end;
}

li a {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header, .footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    padding: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    width: 400px;
}

h1 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

.container p {
    color: #f9faf8;
}

.header {
    justify-content: space-around;
    height: 72px;
}

.footer {
    justify-content: center;
    align-items: center;
    height: 168px;
}

.text-box {
    font-size: 36px;
    color: #1F2937;
    font-family: bolder;
    font-family: Roboto, sans-serif;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 16px;
    border: 4px solid #3882f6;;
}

.big-img {
    height: 200px;
    width: 400px;
}

ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    padding: 4px;
    max-width: 80px;
    border: 0;
}


.container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 16px;
    gap: 24px;
}

.image-box {
    text-align: center;
    gap: 32px;
    height: 284px;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.quote-box {
    height: 284px;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

#quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#author {
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
}

.box {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-box {
    background-color: #3882f6;
    width: 800px;
    height: 148px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.blue-box button {
    border: 2px solid #f9faf8;
}

#bold{
    color: #f9faf8;
    font-size: 28px;
    font-weight: bold;
}

#small {
    color: #f9faf8;
    font-size: 18px;
}

.signer {
    max-width: 400px;
    gap: 16px;
}

.info {
    max-width: 200px;
}